{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
  <div class="form-container">
      <h4 id="id_add_photo_h4">Ajouter une photo</h4>
      <form method="post" enctype="multipart/form-data">
      <div class="form-row">
        <label for="{{ photo_form.title.id_for_label }}">Titre :</label>
        {{ photo_form.title }}
      </div>
      <div class="form-row">
        <label for="{{ photo_form.description.id_for_label }}">Description:</label>
        {{ photo_form.description }}
      </div>
      <div class="form-row ">
        <label for="file-upload">Image:</label>
        <img id="image-preview" class="preview-image" src="" alt=''>
          <output id="image-output"></output>
          <input type="file" id="edit-img" name="image" class="upload-button">
      </div>
      {% csrf_token %}
      <button type="submit" class="submit-button">Envoyer</button>
    </form>
  </div>
</div>
<script src="{% static 'js/img_preview.js' %}"></script>
{% endblock %}
