<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
<head>
<meta charset=UTF-8>
<title>Porte-Folio</title>
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
  <div class="background-container">
    <div class="sidebar_left" id="sidebar_left">
        <h2>Blog Photos</h2>
        <p class="menu">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'add_photo' %}">Ajouter</a>
            <a href="{% url 'logout' %}">Se déconnecter</a>
            <span id="username">Logué en tant que: {{user.email}}</span>
        </p>
    </div>
    <div class="arrow_left" id="arrow_left"></div>

    <div class="sidebar_right" id="sidebar_right">
      <h2>IFC</h2>
      <p class="menu-right">
        <a href="{% url 'upload_ifc' %}">Parcourir un IFC</a>
        <a href="{% url 'extract_ifc' %}">Extraire la géométrie</a>
        <a href="#">Option 3</a>
      </p>
    </div>
    <div class="arrow_right" id="arrow_right"></div>
 {% block content %}
{% endblock content %}
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'js/sidebar.js' %}"></script>
</body>
</html>
