.home-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc((100% - 4 * 20px) / 5), 1fr));
  grid-gap: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.grid-item {
  text-align: center;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 250px;
}

.grid-item img {
  border-radius: 10px; /* Définir des bords arrondis */
  overflow: hidden; /* Masquer les bordures */
}

.grid-item h2, p {
  margin: 5px 0; /* Réduire la marge supérieure et inférieure */
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(calc((100% - 2 * 20px) / 3), 1fr));
    max-width: 600px;
  }
}


