#three-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    outline: none;
}

#ifcUrl {
  z-index: 1;
  position: absolute;
}

textarea {
width: 99%;
height: 400px;
}